<!DOCTYPE html>
<html>
  <head>
    <title>Не совсем смарт-холодильник</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
