h1 {
  font-size: 32px;
  text-align: center;
}

.navbar-nav {
  margin: 0 auto;
}

.header-greet {
  margin: 0 auto;
}

.container {
  padding: 40px 0;
}

.products-list {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.list-group-item span {
  align-self: center;
}

.list-group-item:hover {
  background-color: #40E0D0;
}

.remove-btn {
  width: 10%;
}

.like-btn {
  width: 10%;
  fill: black;
}

.like-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.remove-btn:hover {
  cursor: pointer;
}

.form-field {
  padding-top: 30px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.form-field input {
  width: 40%;
  margin: 0 auto;
}

.form-field select {
  width: 40%;
  margin: 0 auto 20px;
}

.form-field h2 {
  font-size: 24px;
}